DirectoryIndex index.php

AddDefaultCharset utf-8

# Если NetCat стоит в подпапке, например mysite, то
# ErrorDocument 404 /mysite/netcat/require/e404.php
# в противном случае
# ErrorDocument 404 /netcat/require/e404.php
### ErrorDocument 404 /N1m4847u/require/e404.php

Options -Indexes
Options +FollowSymLinks

ErrorDocument 404 /_application.php